<div class='demos-content-padded'>
  <div class="weui-footer">
    <p class="weui-footer__links">
      <a href="javascript:void(0);" class="weui-footer__link" id="open">联系信息</a>
      <a href="https://www.workerman.net/" class="weui-footer__link" >技术支持</a>
    </p>
    <p class="weui-footer__text">Copyright © 2018 SmartBed-beta V1.1</p>
  </div>
</div>

<script>
    $("#open").click( function () { $.alert("Author: zhangjing<br/>Email: zj0910@mail.hfut.edu.cn", "SmartBed-beta V1.1"); })
</script>

