<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">绑定成功</h2>
    <p class="weui-msg__desc">已成功连接到护理床[{{Messages.getIsBound().PID}}]，设备状态在「主页」中实时监控。如需控制姿态，请在「设置」中打开控制模式。</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
        <a href="javascript:;" class="weui-btn weui-btn_primary" ui-sref='home' ng-click="query()">返回主页</a>
        <a href="javascript:;" class="weui-btn weui-btn_default" ui-sref='setup'>返回设置</a>
    </p>
    </div>
</div>