<div >


    <div class="demos-header">
      <h1 class="demos-title">视频监控</h1>
      <p class="demos-sub-title">实时直播中..</p>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" ng-click="return()">返回</a>
    </div>

    <div >
        <video  class="demos-video" id="myPlayer" poster="" controls playsInline webkit-playsinline autoplay>
            <source src="rtmp://rtmp.open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b" type="" />
            <source src="http://hls.open.ys7.com/openlive/f01018a141094b7fa138b9d0b856507b.m3u8" type="application/x-mpegURL" />
        </video>
    </div>
    
</div>
